<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - DDD Template</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

	    @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>
            <div class="content-wrapper clearfix">
                <div class="site-title">
                    @Html.ActionLink("DDD Template", "Index", "Home")
                </div>

                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>

	            <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Browser", "ClientInformation", "Home")</li>
                    </ul>
                </nav>
            </div>
        </header>

	    <div id="body">
            @RenderSection("featured", false)

		    <section class="content-wrapper main-content clearfix">
                @RenderBody()
            </section>
        </div>

	    <footer>
            <div class="content-wrapper">
                    &copy; @DateTime.Now.Year Joakim Brännström
            </div>
        </footer>
		
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        @RenderSection("scripts", false)
		
    </body>
</html>
